@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  font-family: 'IBM Plex Mono', 'Georgia', 'Times', serif;
  font-weight: 300;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  z-index: 2;
  color: rgb(253, 245, 255);
}

html, body {
  background-color: #181d1e;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

.frontpage-container {
  padding: 10%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.frontpage-content {
  flex-grow: 1;
}

.frontpage-login {
  text-decoration: none;
  font-size: 60px;
  font-weight: 200;
  margin-bottom: 20px;
}

.frontpage-login:hover {
  text-decoration: underline;
}

.frontpage-footer {
  align-self: flex-end;
  font-size: small;
  text-align: right;
}

.utility-container {
  padding: 10%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-x: auto;
}

.utility-header, .owners-header {
  margin-bottom: 10px;
}

.playlists {
  list-style: none;
  columns: auto;
  column-width: 350px;
}

.owners {
  list-style: none;
  columns: auto;
  column-width: 180px;
}

li {
  margin-bottom: 10px;
}

span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.owner-name {
  font-size: small;
}

@media (max-width: 768px) {
  .utility-container {
    padding: 10px;
  }
}
